body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.main--box {
 
width: 317px;
height: 399px;
left: 116px;
top: 361px;
background: #1A1B21;
margin: 0 auto;
}

.profile--pic {

  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  border-radius: 10px 10px 0px 0px;

}

.name--style > h3 {

width: 178.06px;
height: 25.81px;
left: 186px;
top: 382px;
font-size: 25px;
line-height: 30px;
text-align: center;
margin: 7% auto 3% auto;

}

.name--style > h4 {
 
width: 178.06px;
height: 14.19px;
left: 186px;
top: 414px;
font-weight: 400;
font-size: 12.8px;
line-height: 15px;
text-align: center;
color: #F3BF99;
margin: 0 auto 3% auto;

}

.name--style > p {
width: 228px;
height: 16px;
left: 161px;
top: 437px;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
text-align: center;
color: #F5F5F5;
margin: 3% auto 5% auto;

}

.btn {
  display: flex;
  
}

button {
  display: flex;
  flex-direction: row;
  
}

.name--style > p {
 
width: 228px;
height: 16px;
left: 161px;
top: 437px;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
text-align: center;
color: #F5F5F5;

}

.e--btn {

box-sizing: border-box;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
gap: 8px;
width: 115px;
height: 34px;
left: 151px;
top: 468px;
background: #FFFFFF;
border: 1px solid #D1D5DB;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
margin: 3% 2% 5% 10%;

}

.l--btn {
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
gap: 8px;
width: 115px;
height: 34px;
left: 283px;
top: 468px;
background: #5093E2;
border-radius: 6px;
margin: 3% 10% 5% 4%;
color: white;
}

.about--title > h4 {
width: 242.71px;
height: 21px;
left: 152px;
top: 535px;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #F5F5F5;
text-align: justify;
padding: 5% 5% 0 10%;
margin: 0;

}

.about--title > p {
width: 247px;
height: 61px;
left: 152px;
top: 561px;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #DCDCDC; 
text-align: justify;
padding: 2% 5% 0 10%;
margin: 0;

}

.intrest--title > h4 {
width: 242.71px;
height: 21px;
left: 152px;
top: 649px;
text-align: justify;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #F5F5F5;
padding: 8% 5% 0 10%;
margin: 0;
}

.intrest--title > p {
width: 247px;
height: 61px;
left: 152px;
top: 675px;
text-align: justify;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #DCDCDC;
padding: 2% 5% 0 10%;
margin: 0;
}

footer {
width: 317px;
height: 64px;
left: 116px;
top: 760px;
background: #161619;
border-radius: 0px 0px 10px 10px;
}

.icon--style {
 padding: 5% 4.5% 3%;
}